<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsinventiv.freewatchadmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Orders"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.appsinventiv.freewatchadmin.Activities.AddProduct"
            android:label="Add Product"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appsinventiv.freewatchadmin.Activities.Done"
            android:label="Product Added"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appsinventiv.freewatchadmin.Activities.ViewOrder"
            android:label="Order Details"
            android:screenOrientation="portrait" />

        <service android:name="com.appsinventiv.freewatchadmin.Utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.appsinventiv.freewatchadmin.Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.appsinventiv.freewatchadmin.Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.appsinventiv.freewatchadmin.Activities.Statistics"
            android:label="Stats"/>
        <activity android:name="com.appsinventiv.freewatchadmin.Activities.ProductList"
            android:label="Products List"></activity>
    </application>

</manifest>